doctype html
html
  head
    meta(charset='utf-8')
    title= 'Home'
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', href='/icon/icon.jpeg')
  body
    h2= 'Local'
    p
      a(href='/qr')= 'QRコード生成機'
    p
      a(href='/private')= 'シークレットルーム'
    p
      a(href='/fx')= 'FX'
    p
      a(href='/sample-phantom')= 'Sample Phantom'
    p
      a(href='/rss.xml')= 'RSS'
    p
      a(href='/daily')= 'Daily'
