doctype html
html
  head
    meta(charset='utf-8')
    title= 'Sample Phantom'
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', href='/icon/icon.jpeg')
  body
    h1= 'Sample Pahntom'
    p=status
    p=content
    p
      a(href='/')= '戻る'
